# First, ignore everything.
/*

# Explicitly ignore OS X Finder thumbnail files.
.DS_Store

# Unignore the contents of `Library` as that's where our code lives.
!/Library

# Ignore files within `Library` (again).
/Library/Homebrew/.npmignore
/Library/Homebrew/bin
/Library/Homebrew/doc
/Library/Homebrew/prof
/Library/Homebrew/test/.gem
/Library/Homebrew/test/.subversion
/Library/Homebrew/test/coverage
/Library/Homebrew/test/junit
/Library/Homebrew/test/fs_leak_log
/Library/Homebrew/vendor/portable-ruby
/Library/Taps
/Library/PinnedTaps
/Library/Homebrew/.byebug_history
/Library/Homebrew/test/.rdbg_history

# Ignore Bundler files
**/.bundle/bin
**/.bundle/cache
**/vendor/bundle/ruby/.homebrew_gem_groups
**/vendor/bundle/ruby/*/.homebrew_vendor_version
**/vendor/bundle/ruby/*/bundler.lock
**/vendor/bundle/ruby/*/bin
**/vendor/bundle/ruby/*/build_info/
**/vendor/bundle/ruby/*/cache
**/vendor/bundle/ruby/*/extensions
**/vendor/bundle/ruby/*/plugins
**/vendor/bundle/ruby/*/specifications

# Ignore Ruby gems for versions other than we explicitly vendor.
# Keep this in sync with the list in standalone/init.rb.
**/vendor/bundle/ruby/*/
!**/vendor/bundle/ruby/3.3.0/

# Ignore Bundler binary files
**/vendor/bundle/ruby/*/gems/**/*.bundle

# Ignore YARD files
**/.yardoc

# Ignore gems by default
**/vendor/bundle/ruby/*/gems/**/*

# Include only the license and lib directories for vendored gems
!**/vendor/bundle/ruby/*/gems/*/*LICENSE*
!**/vendor/bundle/ruby/*/gems/*/lib

# Unignore gems needed at runtime:
!**/vendor/bundle/ruby/*/gems/addressable-*/
!**/vendor/bundle/ruby/*/gems/base64-*/
!**/vendor/bundle/ruby/*/gems/bindata-*/
!**/vendor/bundle/ruby/*/gems/concurrent-ruby-*/
!**/vendor/bundle/ruby/*/gems/elftools-*/
!**/vendor/bundle/ruby/*/gems/patchelf-*/
!**/vendor/bundle/ruby/*/gems/plist-*/
!**/vendor/bundle/ruby/*/gems/public_suffix-*/
!**/vendor/bundle/ruby/*/gems/ruby-macho-*/
!**/vendor/bundle/ruby/*/gems/sorbet-runtime-*/
!**/vendor/bundle/ruby/*/gems/warning-*/

# Unignore additional paths for selected vendored gems
!**/vendor/bundle/ruby/*/gems/addressable-*/data
!**/vendor/bundle/ruby/*/gems/public_suffix-*/data

# Unignore partially included gems where we don't need all files
!**/vendor/gems/mechanize-*/lib/mechanize/
!**/vendor/gems/mechanize-*/lib/mechanize/http/
!**/vendor/gems/mechanize-*/lib/mechanize/http/content_disposition_parser.rb
!**/vendor/gems/mechanize-*/lib/mechanize/version.rb

**/vendor/cache/
**/vendor/specifications/

# Ignore `bin` contents (again).
/bin

# Unignore our `brew` script.
!/bin/brew

# Unignore our configuration/completions/documentation.
!/.devcontainer
!/.github
!/completions
!/docs
!/manpages

# Unignore our packaging files
!/package
/package/resources/LICENSE.rtf

# Ignore generated documentation site
/docs/_site
/docs/bin
/docs/.jekyll-metadata
/docs/vendor
/docs/Gemfile.lock

# Unignore our root-level metadata files.
!/.dockerignore
!/.editorconfig
!/.gitignore
!/.irb_config
!/.ruby-version
!/.shellcheckrc
!/.vale.ini
!/.yardopts
!/CHANGELOG.md
!/CONTRIBUTING.md
!/Dockerfile
!/Dockerfile.test.yml
!/LICENSE.txt
!/README.md

# Unignore tests' bundle config
!/Library/Homebrew/test/.bundle/config

# Unignore editor configuration
!/.sublime
/.sublime/homebrew.sublime-workspace
!/.vscode
